Source: behaviours
Section: devel
Priority: optional
Maintainer: David Morenon <dmoreno@coralbits.com>
Build-Depends: debhelper (>= 8.0.0), cmake, python3-dev, liblua5.2-dev, libxml2-dev
Standards-Version: 3.9.3
Homepage: http://github.com/davidmoreno/behaviours
Vcs-Git: http://github.com/davidmoreno/behaviours
Vcs-Browser: http://github.com/davidmoreno/behaviours

Package: behaviours
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Development environment based on UML's Activity Digragrams.
 Behaviours is a web server that provides a graphical programming enviroment. It is based on
 events and actions, so that an event like a temperature change from a sensor can perform
 some actions as playing some audio file, or do a HTTP POST. Events and actions can be 
 developed in C++, LUA or Python3.
 .
 Plugins can change radically the behaviour of behaviours, adding new styles, and new modules.
 . 
 For more information visit http://github.com/davidmoreno/behaviours
